<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ulj.slicky.kotlinfakesocial">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:fullBackupContent="false"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="n">

        <service
            android:name=".activity.service.NotifyingService"
            android:exported="false" />

        <activity
            android:name=".activity.login.LoginActivity"
            android:label="Login"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".activity.content.ContentActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.detail.DetailActivity"
            android:label="Detail"
            android:parentActivityName=".activity.content.ContentActivity" />

        <activity
            android:name=".activity.profile.ProfileActivity"
            android:label="Profile"
            android:parentActivityName=".activity.content.ContentActivity" />

        <activity
            android:name=".activity.friends.FriendsActivity"
            android:label="Friends"
            android:parentActivityName=".activity.content.ContentActivity" />

        <activity
            android:name=".activity.settings.SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".activity.content.ContentActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".activity.about.AboutActivity"
            android:label="About"
            android:parentActivityName=".activity.content.ContentActivity" />

        <activity
            android:name=".activity.creator.CreatorActivity"
            android:label="Creator"
            android:parentActivityName=".activity.content.ContentActivity" />

    </application>
</manifest>